# Ignore node_modules directory in root
/node_modules

# Ignore built files for frontend
/frontend/build

# Ignore built files for backend
/backend/dist

# Ignore environment files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore IDE files
.idea
.vscode

# Ignore npm debug log
npm-debug.log*

# Ignore macOS system files
.DS_Store

# Ignore image files
/frontend/public/*.jpg
/frontend/public/*.jpeg
/frontend/public/*.png
/frontend/public/*.gif
/backend/images/*.jpg
/backend/images/*.jpeg
/backend/images/*.png
/backend/images/*.gif
